*{
    padding: 0;
    margin: 0;
}
.btn {
    display: inline-block;
    margin-right: 26px;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    transition: .1s;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-tap-highlight-color:transparent;
}
.btn:hover{
    color: #fff;
    background: #1c83c6;
    border: 1px solid #1c83c6;
}